.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  padding: 20px;
  font-family: sans-serif;
  background-color: #f4f4f4;
}

.switchContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.switchContainer button {
  padding: 10px 20px;
  border: none;
  background-color: #e0e0e0;
  cursor: pointer;
  margin: 0 10px;
  border-radius: 5px;
  font-weight: 500;
  transition: background-color 0.3s ease;
}

.switchContainer button.active {
  background-color: #007bff;
  color: white;
}

.switchContainer button:hover {
  background-color: #d0d0d0;
}

.table {
  width: 100%;
  border-collapse: collapse;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  background-color: white;
}

.table th,
.table td {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: left;
}

.table th {
  background-color: #007bff;
  color: white;
  font-weight: 600;
  text-transform: uppercase;
}

.table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.viewBtn {
  background-color: #007bff;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-right: 5px; 
}

.viewBtn:hover {
  background-color: #0056b3;
}

.deleteBtn {
  background-color: #dc3545;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.deleteBtn:hover {
  background-color: #c12a36;
}


.topButtons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.trashButton, .recycleButton {
  padding: 10px 15px;
  border: none;
  background-color: #4caf50;
  color: white;
  font-size: 14px;
  cursor: pointer;
  border-radius: 5px;
}

.trashButton {
  background-color: #ff9800;
}

.recycleButton {
  background-color: #2196f3;
}

.trashButton:hover, .recycleButton:hover {
  opacity: 0.8;
}

.bottomButtons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.leftButton, .rightButton {
  padding: 10px 15px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.leftButton {
  background-color: #28a745; 
  color: white;
}

.rightButton {
  background-color: #007bff; 
  color: white;
}
